@font-face {
    font-family: myFont;
    src: url(Virgil.woff2);
}

body {
    background-color: lightblue;
    font-family: myFont;

}

.container {
    text-align: center;
}

.items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px;
}
   
.item {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 5%;
    transition: background-color 0.3s ease-in-out;
}

.item.active {
    background-color: white; 
    color: #3498db;
    border-color: #3498db; 
    transform: scale(1.1);
    animation: flash 0.5s ease-out; 
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


button{
    font-family: myFont;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.5);
}