@font-face {
    font-family: myFont;
    src: url(/DukeFoodSpinner/font/Virgil.woff2);
}

body {
    --dot-bg: #f2f6fb;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
    font-family: myFont;
}

h1 {
    margin-top: 15px;
}


.container {
    text-align: center;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Distributes items evenly with space between and at ends */
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* Add padding around the container */
    padding-bottom: 10px;
}

.item {
    width: calc(25% - 20px);
    /* 2 columns for larger screens */
    height: 200px;
    /* Fixed height */
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* Adjust margin to create space between rows */
    border-radius: 5%;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's total width and height */
    background-size: auto;
    /* Cover makes sure the image covers the entire background */
    background-position: center;
    /* Center the image within the div */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    position: relative;
    /* Ensure positioning context */
    overflow: hidden;
    /* Hide any overflow if necessary */
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff07f;
    color: black;
}


@media (max-width: 1200px) {
    .item {
        width: calc(25% - 20px);
        /* 4 columns for screens up to 1200px */
        height: 150px;
    }
}

@media (max-width: 768px) {
    .item {
        width: calc(25% - 20px);
        /* 4 columns for screens up to 768px */
        height: 120px;
    }

    p {
        font-size: 15px;
    }

    .item:nth-child(4n+1) {
        margin-right: 0;
        /* Remove margin on the first item in each row in column layout */
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(25% - 10px);
        /* 2 columns for screens up to 480px */
    }

    h1 {
        margin-top: 75px;
    }

    p {
        font-size: 10px;
    }

    .centered-header.instagram {
        color: #12486b;
        margin-top: 5px;
        margin-bottom: 25px;
    }
}

.item-1 {
    background-image: url("https://today.duke.edu/sites/default/files/legacy-files/legacy_files/pizza_590.jpg");
}

.item-2 {
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/5e/1c/e4/piccola-cucina-osteria.jpg?w=400&h=300&s=1");
}

.item-3 {
    background-image: url("https://cdn.loveandlemons.com/wp-content/uploads/2021/04/green-salad-500x375.jpg");
}

.item-4 {
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/chicken-stir-fry-index-65130392700bf.jpg?crop=0.502xw:1.00xh;0.170xw,0&resize=1200:*");
}

.item-5 {
    background-image: url("https://images.ctfassets.net/3vz37y2qhojh/1iLDJFZEjg02OFuHZOP2Ga/c779f1850ef60dfd55f4b35c271923cf/Healthy-Southern-style-Cast-Iron-Chicken-Dinner-1.35-1.jpg?w=750&fit=fill&fm=webp");
}

.item-6 {
    background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/plus/fullset/2020/06/08/0/FNM_070120-Grilled-Hot-Dogs_s4x3.jpg.rend.hgtvcom.616.462.suffix/1591625198177.jpeg");
}

.item-7 {
    background-image: url("https://ladleandleaf.com/images/600_L_L_Our-Story_WebBlock.jpg");
}

.item-8 {
    background-image: url("https://sweetieshoppie.co.uk/cdn/shop/files/flying-saucers-or-sherbet-discs-or-kids-party-sweets-or-the-sweetie-shoppie-1_512x512.jpg?v=1718557704");
}

.item.active {
    background-color: white;
    color: #fff07f;
    transform: scale(1.15);
    animation: flash 0.5s ease-out;
}


@keyframes flash {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#btn {
    font-family: myFont;
    display: block;
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #12486b;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}


#btnMenu,
#btnLocation,
#btnBuddy {
    font-family: myFont;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    margin-left: 15px;
    padding: 10px 20px;
    background-color: #fff07f;
}

#btnMenu:hover {
    background: linear-gradient(120deg, #ff9e57, #ffcf40);
}

#btnLocation:hover {
    background: linear-gradient(100deg, #ff9e57, #ffcf40);
}

#btnBuddy:hover {
    background: linear-gradient(75deg, #ff9e57, #ffcf40);
}

.locationBtn {
    font-family: myFont;
    margin-bottom: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#btn:hover {
    background-color: #0D3B65;
}

#btn:active {
    transform: scale(0.5);
}


.locationBtn:active {
    transform: scale(0.75);
}


.locationBtn.clicked {
    color: #fff;
    background-color: #0D3B65;
    font-size: 17px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* disables scroll*/
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-image: url("https://media.discordapp.net/attachments/879252425888923729/1254615393834897489/IMG_9359.jpg?ex=667a2323&is=6678d1a3&hm=557b56f66a6a2433a0fc7075a5d3fc1d8d62e430e6f6b5260f1af6b12b9678ab&=&format=webp&width=1100&height=644");
    background-size: cover;
    /* Cover makes sure the image covers the entire background */
    background-position: bottom;
    /* Center the image within the div */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    margin: 15% auto;
    /* 10% from the top and centered */
    padding: 20px;
    padding-top: 0px;
    border: 1px solid #888;
    width: 75%;
    /* Could be more or less, depending on screen size */
}

.modal-content h2 {
    font-weight: bold;
    font-size: 25px;
}

.modal-content h3 {
    font-weight: bold;
    font-style: italic;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.centered-header.instagram {
    color: #12486b;
    /* Yale Blue color */
}

.centered-header.instagram a {
    text-decoration: none;
    /* Remove underline from links */
    color: #12486b;
    /* Inherit Yale Blue color for links */
}

.cuisine,
.priceRange {
    margin: 5px 0;
    font-size: 15px
}